<mat-toolbar class="topbar">

  <!-- Mobile Menu -->
  <button mat-icon-button (click)="toggleMobileNav.emit()" class="d-flex d-md-none justify-content-center">
    <i-tabler name="menu-2" class="icon-20 d-flex"></i-tabler>
  </button>

  <span class="flex-1-auto"></span>

  <!-- Sesión iniciada: avatar con menú -->
  <ng-container *ngIf="authService.isLoggedIn(); else loginLink">
    <button class="m-l-10" mat-icon-button [matMenuTriggerFor]="profilemenu" aria-label="Menú de usuario">
      <div class="initials-circle">
        <span class="initials-text">{{ getUserInitials() }}</span>
      </div>
    </button>

    <mat-menu #profilemenu="matMenu" xPosition="before" class="cardWithShadow">
      <div class="p-x-12 p-y-8 user-summary" *ngIf="getUserName()">
        <div class="user-name">{{ getUserName() }}</div>
        <div class="user-cargo">{{ getUserCargo() }}</div>
      </div>
      <div class="p-x-12">
        <button mat-stroked-button color="primary" class="w-100 btn-press" (click)="logout()">Cerrar sesión</button>
      </div>
    </mat-menu>
  </ng-container>

  <!-- Sin sesión: acceso directo al login -->
  <ng-template #loginLink>
    <a mat-stroked-button color="primary" class="btn-press" [routerLink]="['/authentication/login']">
      Iniciar sesión
    </a>
  </ng-template>
</mat-toolbar>
