<!-- En side-register.component.html -->
<div class="blank-layout-container justify-content-center">
  <div class="auth-wrapper">
    <div class="position-relative shaper-wrapper">
      <div class="w-100 position-relative rounded bg-white auth-card">
        <div class="auth-body">


          <div class="row">
            <div class="col-lg-6">
              <div class="align-items-center justify-content-center d-none d-lg-flex">
                <img src="/assets/images/backgrounds/login3-bg.png" alt="login" style="max-width: 500px" />
              </div>
            </div>
            <div class="col-lg-6">
              <div class="d-flex align-items-start align-items-lg-center justify-content-center">
                <div class="row justify-content-center w-100">
                  <div class="col-lg-11">
                    <h4 class="f-w-700 f-s-30 lh-base m-0">Registro de Usuario</h4>
                    <span class="f-s-14 d-block mat-body-1 m-t-8">Crea una cuenta para acceder al sistema</span>

                    <form class="m-t-30" [formGroup]="form" (ngSubmit)="submit()">
                      <!-- Nombre -->
                      <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Nombre</mat-label>
                      <mat-form-field appearance="outline" class="w-100" color="primary">
                        <input matInput formControlName="nombre" (blur)="convertToUpperCase(form.get('nombre'))" />
                        <app-error-messages [control]="f['nombre']"></app-error-messages>
                      </mat-form-field>

                      <!-- Apellido -->
                      <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Apellido</mat-label>
                      <mat-form-field appearance="outline" class="w-100" color="primary">
                        <input matInput formControlName="apellido" (blur)="convertToUpperCase(form.get('apellido'))" />
                        <app-error-messages [control]="f['apellido']"></app-error-messages>
                      </mat-form-field>

                      <!-- DNI -->
                      <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">DNI</mat-label>
                      <mat-form-field appearance="outline" class="w-100" color="primary">
                        <input matInput formControlName="dni" />
                        <app-error-messages [control]="f['dni']"></app-error-messages>
                      </mat-form-field>

                      <!-- Cargo -->
                      <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Cargo</mat-label>
                      <mat-form-field appearance="outline" class="w-100" color="primary">
                        <input matInput formControlName="cargo" />
                        <app-error-messages [control]="f['cargo']"></app-error-messages>
                      </mat-form-field>

                      <!-- Contraseña -->
                      <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Contraseña</mat-label>
                      <mat-form-field appearance="outline" class="w-100" color="primary">
                        <input matInput type="password" formControlName="password" />
                        <app-error-messages [control]="f['password']"></app-error-messages>
                      </mat-form-field>

                      <!-- Botón de registro -->
                      <button mat-flat-button color="primary" class="w-100 btn-press" [disabled]="!form.valid">
                        Registrarse
                      </button>

                    </form>

                    <span class="d-block f-w-500 d-block m-t-24">¿Ya tienes una cuenta?
                      <a [routerLink]="['/authentication/login']"
                        class="text-decoration-none text-primary f-w-500 f-s-14">
                        Inicia sesión
                      </a>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>